body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.leftside, .rightside{
  height: 100vh;
  width: 100%;
}


/* Left side Start */

.leftside{
  background-image: url('../images/left_back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.lefttext{
  padding-top: 40px;
  margin: 0px 40px;
  font-weight: 300;
}

.lefttext h2{
  color: white;
  font-weight: 100;
  padding-top: 40%;
  font-size: 24px;
  margin: 0 10%;
}

.lefttext p{
  display: inline-block;
  color: white;
  font-size: 18px;
  margin: 0 10%;
}

.blockquote::before{
  margin: 0 10%;
  content: "\201c";
  color: #FFF;
  font-size: 100px;
  display: block;
  margin-bottom: -60px;
}

.blockquote::after{
  margin: 0 5%;
  content: "\201d";
  color: #FFF;
  font-size: 100px;
  display: block;
  margin-bottom: -60px;
  margin-top: -20px;
  float: right;
}
/* Left Side End */

/* Right side Start */

.rightside{
  background-image: url('../images/right_back.png');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Back Button Start */
.rightside .goback{
  font-size: 20px;
  padding: 5% 5%;
  width: 50%;
  display: -webkit-box;
  align-items: center;
}

.rightside .goback i{
  cursor: pointer;
  color: #000000;
}

.rightside .goback h4{
  padding-left: 15px;
  color: #000000;
}

/* Back Button End */

/* Steps Start */
.rightside .steps{
  font-size: 20px;
  padding: 5% 10%;
  width: 50%;
  display: -webkit-box;
}

.rightside .steps i{
  cursor: pointer;
  color: #000000;
}

.rightside .steps h4{
  padding-left: 60%;
  color: #000000;
}

/* Steps End */

/* Text Start */
.righttext{
  padding-top: 5%;
  margin: 0px 40px;
  font-weight: 500;
}

.righttext h2{
  font-weight: 300;
  font-size: 20px;
  margin: 2% 10%;
}

.righttext p{
  display: inline-block;
  font-size: 16px;
  margin: 0 10%;
}

/* Text End */

/* Horizontal Line Start */

.hline{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;

}

/* Horizontal line End */

/* Right side End */





/* Responsive */


/* Mobile View */
@media screen and (max-width:768px) {
    .leftside{
      display: none;
    }
}

/* laptop view */
@media screen and (min-width:768px) {
    .leftside, .rightside{
      height: 100vh;
    }
    .lefttext{
        padding-top: 0px;
    }
    .leftside h2{
      font-size: 30px;
    }
    .leftside p{
      font-size: 20px;
    }


    .rightside .goback{
        padding-top: 1%;
    }
    .rightside .steps{
        padding-top: 2%;
    }
    .righttext{
        padding-top: 0px;
    }
    .rightside h2{
      font-size: 24px;
    }
    .rightside p{
      font-size: 16px;
    }
}
