@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

body{
   margin:0;
   padding:0;
   font-family: 'Inter', sans-serif;
   position:relative;
   background-image: url('../images/contact/Contact_Background.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   overflow-x: hidden;
}

.block{
  display: flex;
}

.goback{
  font-size: 20px;
  padding: 0 5%;
  padding-top: 5%;
  margin-bottom: 5%;
  width: 20%;
  display: -webkit-box;
  align-items: center;
}

.goback i{
  padding-top: 10px;
  cursor: pointer;
  color: #FFFFFF;
}

.goback h4{
  color: #FFFFFF;
  padding-left: 25px;
  text-decoration: none;
}


.container1{
   width:100%;
   height: 70vh;
   background-image: url('../images/4.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


.mission{
   width:90%;
   height:auto;
   margin-bottom: 10%;
   margin-left: 30%;
   margin-top: -20%;
}
.mission .right{
   width: 50%;
   display:inline-block;
   background: white;
   border: 0 none;
   border-radius: 10px;
   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);
   box-sizing: border-box;
   font-weight: bold;
   padding: 5% 0;
   line-height: 180%;
}

.mission .right .address{
  display: flex;
  padding-top: 5%;
}

.mission .right .mail{
  display: flex;
}

.mission .right .phone{
  display: flex;
}

.mission .right p{
   font-size: 20px;
   font-weight: normal;;
   margin-top: 3%;
   margin-left: 5%;
   width: 70%;
}

.mission .right i{
   font-size: 20px;
   margin-left: 10%;
   margin-top: 4%;
   color: #834655;
}

.socialicon{
  margin-left: 10%;
}

.mission .right .socialicon i{
   font-size: 30px;
}

.clear{
    clear: both;
}


/* media */
@media screen and (max-width:1200px) {
  .goback{
      padding-top: 25%;
      width: 40%;
  }
}


@media screen and (max-width:768px) {
  .goback{
      padding-top: 25%;
      width: 40%;
  }

  .container1{
     width:100%;
   }

   .mission{
     margin-left: auto;
   }
  .mission .right{
     width: 90%;
     margin-bottom: 2%;
   }

   .mission .right p{
      font-size: 16px;
    }
    .mission .right i{
       font-size: 18px;
     }
     .mission .right .socialicon i{
        font-size: 24px;
     }
}
