@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');


/* Preloader Start */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #F09CAA;
  width: 100%;
  height: 100%;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after{
  content: '';
  border: 1em solid #FFF;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: .5s;
}

@keyframes loader {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

/* Preloader End */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden !important;
}

.sect{
  width: 100%;
  height: 90vh;
  /* background: red; */
}

/* Left Image Start */
.leftside{
  width: 80%;
  height: 500px;
  /* background: blue; */
  margin-left: 20%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.leftside h1{
  font-size: 45px;
  margin-left: 10%;
  margin-top: 5%;
  color: #2F327D;
}

.leftside h3{
  font-size: 24px;
  margin-left: 10%;
  margin-top: 0;
  color: #18191F;
}

.leftside h2{
  font-size: 22px;
  margin-left: 10%;
  margin-top: 8%;
  color: #E77E83;
}

.leftside i{
  font-size: 40px;
  margin-left: 5%;
  margin-top: 6%;
  color: #E77E83;
  cursor: pointer;
}

.leftside p{
  font-size: 22px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  color: #696984;
}

.leftside .btn{
  width: 70%;
  height: 50px;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 18px;
  background: #61C0BF;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
}

/* Left Image End */

/* Right Image Start */

.rightside{
  width: 60%;
  height: 500px;
  background-image: url('../images/left_back.png');
  background-size: cover;
  margin-top: 6%;
  margin-left: 5%;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Right Image End */


/* Down Part Start */
.sect1{
  width: 100%;
  height: 80vh;
  /* background: red; */
}


.downleftside{
  width: 80%;
  height: 500px;
  /* background: blue; */
  margin-left: 20%;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.downleftside h1{
  font-size: 45px;
  margin-left: 10%;
  margin-top: 5%;
  color: #2F327D;
}

.downleftside .clinic{
  width: 70%;
  height: 300px;
  background-image: url('../images/left_back.png');
  background-size: cover;
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.downleftside p{
  width: 60%;
  font-size: 22px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  color: #696984;
}
/* Left Image End */

/* Down Right Map Start */

.downrightside{
  width: 80%;
  height: 430px;
  margin-top: 15%;
  margin-left: 5%;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Down Right Map End */

/* Down Part End */


/* Mobile View Starts */
@media screen and (max-width:1024px){
  body{
      overflow-x: hidden !important;
  }
  .loader_bg{
    width: 100%;
    height: 100%;
  }
  .sect{
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    /* padding-top: 30%; */
  }
  .leftside{
    width: 100%;
    height: 650px;
    margin-left: 0;
    margin-top: 30%;
  }
  .leftside h1{
    font-size: 32px;
  }
  .leftside h3{
    font-size: 20px;
  }
  .leftside p{
    font-size: 16px;
  }
  .leftside .btn{
    margin-top: 10%;
  }

  .rightside{
    /* width: 90%;
    margin-left: 5%;
    margin-top: -50%;
    background-size: cover; */
    display: none;
  }

  .sect1{
    width: 100%;
    height: 160vh;
    overflow: hidden !important;
  }

  .downleftside{
    width: 100%;
    height: 650px;
    margin-left: 0;
  }
  .downleftside h1{
    font-size: 32px;
    margin-left: 30%;
  }
  .downleftside p{
    font-size: 16px;
  }

  .downrightside{
    width: 80%;
    margin-left: 5%;
    margin-top: -30%;
    background-size: cover;
  }

  .downrightside iframe{
    width: 100%;
  }

}

@media screen and (max-width:480px){
  .sect{
    width: 100%;
    height: 80vh;
    padding-left: 5%;
    overflow: hidden !important;
    /* padding-top: 30%; */
  }

  .sect1{
    width: 100%;
    height: 140vh;
    padding-left: 5%;
    overflow: hidden !important;
  }
}

@media screen and (max-width:380px){
  .sect{
    width: 100%;
    height: 90vh;
    overflow: hidden !important;
    /* padding-top: 30%; */
  }
  .sect1{
    width: 100%;
    height: 160vh;
    overflow: hidden !important;
  }
}

@media screen and (max-width:340px){
  .sect{
    width: 100%;
    height: 90vh;
    overflow: hidden !important;
    /* padding-top: 30%; */
  }
  .leftside h1{
    font-size: 28px;
  }
  .leftside h3{
    font-size: 18px;
  }
  .leftside p{
    font-size: 14px;
  }

  .sect1{
    padding-left: 5%;
    width: 100%;
    height: 180vh;
    overflow: hidden !important;
  }
}
